body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
  margin-top: 10px;
  border: 1px solid gray;
  padding: 8px;
  max-height: 30vh;
  overflow-y: auto;
}

button {
  background: none;
  color: white;
}

button:hover {
  background: darkgray;
  cursor: pointer;
}

button.update {
  background: purple;
  float: right;
  margin: 0;
  margin-top: 8px;
}

button.update:hover {
  background: darkgray;
  cursor: pointer;
}

input {
  margin: 1px 0;
  padding: 4px 2px;
}

.inline {
  display: inline-block;
}

.inline input {
  width: 40vw;
}

ul {
  list-style: none;
}

.topic {
  display:inline;
}

.topic button {
  border: none;
}

.topic input[type=checkbox] {
  width: 16px;
}

ul.items {
  display: grid;
}